body{
    margin: 0;
    padding: 0; 
    height: 100vh;
    background-color: black; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.container{
    display: flex;
    gap: 20px;   
}
.box1, .box2{
    width: 200px;
    background-color: #000;
}
h1{
    color: orangered;
    text-shadow: 0px 0px 5px rgb(133, 133, 133);
    font-family: sans-serif;
    font-size: 30px;
    width: 140px;
}
.box1{
    z-index: 3;
    animation: move1 3s forwards ease-in-out;
    border-right: 2px solid orangered;
}
.box2{
    animation: move2 3s forwards ease-in-out;
    border-left: 2px solid orangered;
}
@keyframes move1{
from{
    margin-right: -100px;
}to{
    margin-right: 0;
}
}
@keyframes move2{
from{
    margin-left: -100px;
}to{
    margin-left: 0;
}
}
